{% extends 'base.html' %}
{% load static %}



{% block body %}

    <h2  style="text-align: center; margin-top: 5px; color:red">About Us<h3  style="text-align: center; margin-top: 5px; color:red"> Every Blood Donor is a Life Saver !</h3></h2>
    <div class="card mb-3">
        <img src="{% static 'images5.jpg' %}" class="card-img-top" height="410px" >
        <div class="card-body">
        <div class="container text-center">
          <h5  style="text-align: center; margin-top: 1px; color:red">Blood Donation is an act of donating healthy blood to needy people. Due to excessive loss of blood, a person may die. Therefore, we can say that blood donation is an act of saving lives. ... Moreover, donating blood revitalizes our body as after donating blood, fresh blood is produced that refreshes our body systemBlood Donation is an act of donating healthy blood to needy people.  </h5>
        </div>
        </div>
      </div>

        {% endblock body %}